ovos-utils~=0.0, >=0.0.31a3
ovos-bus-client~=0.0, >=0.0.3a4
ovos_workshop~=0.0, >=0.0.12a3
ovos-config~=0.0,>=0.0.8a2
ovos-plugin-manager~=0.0, >=0.0.20

ovos-phal-plugin-connectivity-events~=0.0, >=0.0.1
ovos-PHAL-plugin-wallpaper-manager~=0.0, >=0.0.0
# ovos-PHAL-plugin-brightness-control-rpi~=0.0, >=0.0.1
ovos-PHAL-plugin-network-manager~=1.0, >=1.0.0
ovos-phal-plugin-ipgeo~=0.0, >=0.0.1
ovos-PHAL-plugin-oauth~=0.0, >=0.0.1
ovos-PHAL-plugin-alsa~=0.0, >=0.0.1
ovos-PHAL-plugin-system~=0.0, >=0.0.1
ovos-PHAL-plugin-color-scheme-manager~=1.0, >=1.0.0